[submodule "docs/source/cofi-examples"]
	path = docs/source/cofi-examples
	url = https://github.com/inlab-geo/cofi-examples.git
[submodule "docs/source/cofi-gallery"]
	path = docs/source/cofi-gallery
	url = https://github.com/inlab-geo/cofi-gallery.git
