.github/workflows/build_wheels.yml
.gitignore
CMakeLists.txt
README.md
cofi/cofi_objective/README.md
cofi/cofi_objective/__init__.py
cofi/cofi_objective/base_forward.py
cofi/cofi_objective/base_objective.py
cofi/cofi_objective/examples/__init__.py
cofi/cofi_objective/examples/bandit_multi_armed.py
cofi/cofi_objective/examples/exponential_decay.py
cofi/cofi_objective/model_params.py
cofi/cofi_objective/tests/test_basefwd.py
cofi/cofi_solvers/README.md
cofi/cofi_solvers/__init__.py
cofi/cofi_solvers/base_solver.py
cofi/cofi_solvers/gradient_descent/_solver.py
cofi/cofi_solvers/linear_regression/CMakeLists.txt
cofi/cofi_solvers/linear_regression/_c_solver.pxd
cofi/cofi_solvers/linear_regression/_c_solver.pyx
cofi/cofi_solvers/linear_regression/_cpp_solver.py
cofi/cofi_solvers/linear_regression/_f77_solver.py
cofi/cofi_solvers/linear_regression/_f90_solver.py
cofi/cofi_solvers/linear_regression/_python_solver.py
cofi/cofi_solvers/linear_regression/_utils.py
cofi/cofi_solvers/linear_regression/lib/CMakeLists.txt
cofi/cofi_solvers/linear_regression/lib/_c_solver_lib.c
cofi/cofi_solvers/linear_regression/lib/_c_solver_lib.h
cofi/cofi_solvers/linear_regression/lib/_cpp_solver_lib.cpp
cofi/cofi_solvers/linear_regression/lib/_f77_solver_lib.f
cofi/cofi_solvers/linear_regression/lib/_f90_solver_lib.f90
cofi/cofi_solvers/petsc/_tao.py
cofi/cofi_solvers/rjmcmc/_solver.py
cofi/cofi_solvers/rjmcmc/fm/ch0-createdata.py
cofi/cofi_solvers/rjmcmc/fm/ch0-exampledata.pdf
cofi/cofi_solvers/rjmcmc/fm/ch1-loading.py
cofi/cofi_solvers/rjmcmc/fm/ch2-analyse.py
cofi/cofi_solvers/rjmcmc/fm/ch3-regression.py
cofi/cofi_solvers/rjmcmc/fm/data.txt
cofi/cofi_solvers/rjmcmc/fm/data_real.txt
cofi/cofi_solvers/rjmcmc/lib/rjmcmc.py
cofi/cofi_solvers/rjmcmc/tests/test2_data.txt
cofi/cofi_solvers/rjmcmc/tests/test2_data_real.txt
cofi/cofi_solvers/rjmcmc/tests/test3_data.txt
cofi/cofi_solvers/rjmcmc/tests/test3_data_real.txt
cofi/cofi_solvers/rjmcmc/tests/test_data.txt
cofi/cofi_solvers/rjmcmc/tests/test_data_real.txt
cofi/cofi_solvers/rjmcmc/tests/test_fm.py
cofi/cofi_solvers/rjmcmc/tests/test_multi.py
cofi/cofi_solvers/rjmcmc/tests/test_single.py
cofi/cofi_solvers/scipy/_scipy_optimizer.py
cofi/tests/test_linear_reg.py
cofi/tests/test_scipy.py
cofi/tests/test_tao.py
cofi/tests/test_tao_mpi.py
doc/Makefile
doc/README.md
doc/_static/default.css
doc/api/cofi_objective.examples.rst
doc/api/cofi_objective.rst
doc/api/cofi_solvers.rst
doc/api/modules.rst
doc/conf.py
doc/contribute.rst
doc/faq.rst
doc/getting-started.rst
doc/index.rst
doc/make.bat
doc/requirements.txt
environment_dev.yml
pyproject.toml
setup.cfg
setup.py
