scipy>=1.9.0
matplotlib>=3.5
arviz>=0.18.0
emcee>=3.1.5
findiff>=0.10.0
torch>=2.0.0
bayesbay>=0.3.0
pytest
coverage[toml]
sphinx>=7.2.6
sphinx-book-theme>=1.0.1
sphinx-design>=0.3.0
sphinx-togglebutton>=0.3.2
sphinx-gallery>=0.11.1
pypandoc>=1.10
myst-nb>=0.17.1
sphinxcontrib-mermaid>=0.8.1
sphinx-copybutton>=0.5.1
papermill
jupyterlab
versioningit==2.1.0
seislib>=0.6.10
git+https://github.com/miili/pysurf96.git
neighpy>=0.1.5,!=0.1.8
mealpy>=3.0.0