scipy>=1.0.0
matplotlib>=3.5
arviz>=0.10.0
emcee
findiff
pytest
coverage[toml]
sphinx
sphinx-book-theme
sphinx-panels
sphinx-togglebutton
sphinx-gallery
sphinx-copybutton
sphinxcontrib-mermaid
sphinxemoji
pypandoc
myst-nb
papermill
jupyterlab
versioningit
