/* https://github.com/pydata/pydata-sphinx-theme/blob/master/src/pydata_sphinx_theme/theme/pydata_sphinx_theme/layout.html */
/* https://github.com/executablebooks/sphinx-book-theme/blob/master/src/sphinx_book_theme/theme/sphinx_book_theme/layout.html */

/* ALL: text font size */
p {
    font-size: 1rem;
}

/* TOP LEFT: logo + project title */
div.navbar-brand-box a.navbar-brand img {
    max-height: 10vh !important;
}
span.project-version {
    color: rgb(181, 151, 141);
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 3px;
}

/* TOP RIGHT: three little logos */
/* .topbar .topbar-main button.topbarbtn {
    font-size: 1.2em;
}
[aria-label] {
    position: relative;
}
div.dropdown-buttons-trigger div.dropdown-buttons button.topbarbtn {
    font-size: .85em !important;
} */

/* LEFT: side bar font size */
.bd-sidenav a.reference.internal {
    font-size: 0.8rem;
}

/* HOME: panel button */
.btn-outline-primary:hover {
    color: rgb(51, 125, 222);
    background-color: #ccdde2;
    border-color: #ccdde2
}
.btn-outline-primary {
    /* color: rgb(51, 125, 222); */
    /* color: #99582a; */
    border-color: #ccdde2;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* API: class/method name */
span.sig-name {
    color: #99582a;
}
code.xref {
    text-decoration: underline;
}
code.literal.docutils {
    color: #99582a;
}
table.autosummary p {
    font-size: 0.8rem;
}
table.autosummary span {
    font-size: 1rem;
}
