name: Build

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'src/cofi/**'

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Nothing
        run: |
          echo "no binary wheels needed"

      # - name: Symlink gfortran (macOS)
      #   if: runner.os == 'macOS'
      #   run: |
      #     # make sure gfortran is available
      #     # https://github.com/actions/virtual-environments/issues/2524
      #     # https://github.com/cbg-ethz/dce/blob/master/.github/workflows/pkgdown.yaml
      #     sudo ln -s /usr/local/bin/gfortran-10 /usr/local/bin/gfortran
      #     sudo mkdir /usr/local/gfortran
      #     sudo ln -s /usr/local/Cellar/gcc@10/*/lib/gcc/10 /usr/local/gfortran/lib
      #     gfortran --version

      # - uses: actions/checkout@v2

      # - name: Build wheels
      #   uses: pypa/cibuildwheel@v2.3.1
      #   env:
      #     CIBW_SKIP: pp* *-win32 *-manylinux_i686 *-musllinux_*
      #     CIBW_ARCHS_MACOS: x86_64 arm64
      #     CIBW_REPAIR_WHEEL_COMMAND_MACOS: ""
      #     CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: ""

      # - uses: actions/upload-artifact@v2
      #   with:
      #     path: ./wheelhouse/*.whl
