name: Run all tests

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - 'src/cofi/**'
      - 'pyproject.toml'
  pull_request:
    paths:
      - 'src/cofi/**'
      - 'pyproject.toml'

jobs:
  test-cofi:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get tags
        run: |
          git fetch --tags origin
          git describe
      # Setup
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r envs/requirements_test.txt
          pip install .
      # Run tests
      - name: Pytest tests
        run: |
          pytest tests/
